html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

.logo {
  max-width: 200px;
}

.playgrounds {
  background-color: #efefef;
}

.playground-city {
  background-color: #fff;
}

.box {
  background-color: #fff;
}

table {
  min-width: 50em;
}
@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
